In [1]:
import pandas as pd
import numpy as np
from math import sin, cos, sqrt, atan2, radians
import matplotlib.pyplot as plt
#import webbrowser
#import gmplot
import math
from datetime import timedelta,datetime
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split

In [3]:
data=pd.read_csv('C:\\Users\\user\\Downloads\\GOOG.csv','r',delimiter=',')

In [7]:
new=data[['Date','Close']]

           Date        Close
0     8/19/2004    49.845802
1     8/20/2004    53.805050
2     8/23/2004    54.346527
3     8/24/2004    52.096165
4     8/25/2004    52.657513
5     8/26/2004    53.606342
6     8/27/2004    52.732029
7     8/30/2004    50.675404
8     8/31/2004    50.854240
9      9/1/2004    49.801090
10     9/2/2004    50.427021
11     9/3/2004    49.681866
12     9/7/2004    50.461796
13     9/8/2004    50.819469
14     9/9/2004    50.824436
15    9/10/2004    52.324677
16    9/13/2004    53.402668
17    9/14/2004    55.384777
18    9/15/2004    55.638126
19    9/16/2004    56.616764
20    9/17/2004    58.365391
21    9/20/2004    59.294346
22    9/21/2004    58.539257
23    9/22/2004    58.807514
24    9/23/2004    60.019630
25    9/24/2004    59.527828
26    9/27/2004    58.747902
27    9/28/2004    63.020115
28    9/29/2004    65.116478
29    9/30/2004    64.381264
...         ...          ...
3618   1/3/2019  1016.059998
3619   1/4/2019  1070.709961
3620   1/7/2019  1068.390015
3621   1/8/2019  1076.280029
3622   1/9/2019  1074.660034
3623  1/10/2019  1070.329956
3624  1/11/2019  1057.189941
3625  1/14/2019  1044.689941
3626  1/15/2019  1077.150024
3627  1/16/2019  1080.969971
3628  1/17/2019  1089.900024
3629  1/18/2019  1098.260010
3630  1/22/2019  1070.520020
3631  1/23/2019  1075.569946
3632  1/24/2019  1073.900024
3633  1/25/2019  1090.989990
3634  1/28/2019  1070.079956
3635  1/29/2019  1060.619995
3636  1/30/2019  1089.060059
3637  1/31/2019  1116.369995
3638   2/1/2019  1110.750000
3639   2/4/2019  1132.800049
3640   2/5/2019  1145.989990
3641   2/6/2019  1115.229980
3642   2/7/2019  1098.709961
3643   2/8/2019  1095.060059
3644  2/11/2019  1095.010010
3645  2/12/2019  1121.369995
3646  2/13/2019  1120.160034
3647  2/14/2019  1121.670044

[3648 rows x 2 columns]